<!-- 

<div class="container">
 <h1> Pipes </h1>

 <div class="div1">
 {{name | lowercase}}
 
 {{name | uppercase}}
<b> {{todayDate | date }}</b>
<br>
<b> {{todayDate | date:'d/M/y' }}</b>
<br>
<b> {{todayDate | date:'shortTime' }}</b>
<br>
<b> {{todayDate | date:'longTime' }}</b>
<br>
<br>
 </div>
 
 <div class="div2">
  <h2> JSON Pipe </h2>

  <b> {{jsonval | json}}</b> 

<br>
 <h3> Array  </h3>
 <b> {{months | slice:2:6}}</b> 
 <br>
 <h2> Decimal Pipes </h2>
  <b>  {{454.787878 | number:'3.4'}}</b>
  <br>
<h2> Currency Pipes </h2>
<b> {{22343 | currency}}</b> 
<b> {{22343 | currency:"Rs.":true}}</b> 
<br>
<h1>Percent Pipe</h1>
<b>{{00.54565 | percent}}</b>

</div>

</div>


  -->

<!-- <div class="container">

<pipe-app> </pipe-app>


</div> -->


<!-- <parent-app> </parent-app> -->

<student-app> </student-app>